html {
  font-family: verdana;
}

svg {
  background: white;
}

.graph {
  border: solid #666 1px;
}

body {
  background: #ccc;
}

.node {
  cursor: pointer;
}

#fileUploadLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#gedcomUrl {
  width: 400px;
}

.container {
  width: 800px;
  height: 600px;
  display: inline-block;
  overflow: auto;
  background: white;
}
