text {
  font: 12px sans-serif;
}

.node .name {
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #777;
  stroke-width: 1px;
}

rect {
  fill: #fff;
  stroke: black;
}

.node {
  cursor: pointer;
}

svg {
  border: solid #666 1px;
  background: white;
}

body {
  background: #ccc;
}

.detailed {
  stroke-width: 2px;
}

.detailed rect {
  fill: #ffd;
}

.detailed text {
  font-family: verdana;
}

.detailed .details {
  font-size: 10px;
}

.detailed .id {
  font-size: 10px;
  font-style: italic;
}
